[Unit]
Description=A Redpanda console container
After=network-online.target redpanda-server.service
Requires=redpanda-server.service

[Container]
Image=docker.redpanda.com/redpandadata/console:latest
ContainerName=redpanda-console
Environment=CONFIG_FILEPATH=/etc/redpanda/redpanda-console.yml
Network=redpanda.network
PublishPort=8080:8080
Volume=./config/redpanda-console.yml:/etc/redpanda/redpanda-console.yml:ro,Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
