[Unit]
Description=Open-WebUI container

[Container]
Image=ghcr.io/open-webui/open-webui:latest
Pod=ollama.pod

Timezone=local

EnvironmentFile=./%n.d/env

Volume=openwebui:/app/backend/data:Z

LogDriver=journald
LogOpt=tag=openwebui
Notify=true

AutoUpdate=registry

Label=role=webui
Label=app=ai

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
