[Unit]
Description=Valkey container for OpenWebUI

[Container]
Pod=ollama.pod
Image=docker.io/valkey/valkey:8.0.2-alpine

Timezone=local

Exec=valkey-server --save 30 1

HealthCmd="[ $$(valkey-cli ping) = 'PONG' ]"
HealthInterval=1s
HealthStartPeriod=5s
HealthRetries=5
HealthTimeout=20s

AutoUpdate=registry

Volume=valkey:/data

LogDriver=journald
LogOpt=tag=valkey
Notify=true

Label=role=cache
Label=app=ai

[Service]
Restart=unless-stopped
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target default.target
