[Unit]
Description=Open-WebUI container

[Container]
ContainerName=open-webui
Image=ghcr.io/open-webui/open-webui:latest
Pod=ollama

Timezone=local

EnvironmentFile=./%n.d/env

Volume=openwebui:/app/backend/data:Z

LogDriver=k8s-file
LogOpt=path=/tmp/open-webui.log

AutoUpdate=registry

Label=role=webui
Label=app=ai

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target default.target
