[Unit]
Description=A Prometheus container for collecting metrics
After=local-fs.target network-online.target

[Container]
Image=docker.io/prom/prometheus:latest
Network=bridge
Network=prometheus.network
PublishPort=9090:9090
Volume=./prometheus.yml:/etc/prometheus/prometheus.yml:ro

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
